---
---

@import "{{ site.theme }}";

.page-header {
    background-color: #5b2299;
    background-image: url("../../milky-way-984050_1920.jpg");
    background-size: cover;
    height: 300px;
    padding: 0 0;
}

.project-tagline {
    opacity: 0.95;
}

.btn{
   background-color: rgba(91, 34, 153,0.38);
   color: rgba(255,255,255,0.9);
   border-color: rgba(255,255,255,0.3);
   border-width: 2px;
}

.project-name {
    font-family: "Courier New", "Bitstream Vera Sans Mono", "Lucida Console", "Terminal", monospace;
}


.main-content h1,
.main-content h2,
.main-content h3,
.main-content h4,
.main-content h5,
.main-content h6 {
  color: #5b2299;
}

.header-overlay {
    background-color: rgba(91, 34, 153, 0.4);
    height: 300px;
    /* For centering the stuff inside it */
    align-items: center;
    display: flex;
    justify-content: center;
}

.main-content {
    max-width: 1150px;
}