---
---

@import "{{ site.theme }}";

.page-header {
    background-color: #5b2299;
    background-image: url("../../milky-way-984050_1920.jpg");
    background-size: cover;
    height: 300px;

    padding: 0 0;
}

.project-tagline {
    opacity: 0.95;
}

.btn{
   background-color: rgba(91, 34, 153,0.38);
   height: 300px;
}



content h1,
content h2,
content h3,
content h4,
content h5,
content h6 {
  color: #5b2299;
}

.header-overlay {
    background-color: rgba(91, 34, 153, 0.4);
}

.header-text {
    position: absolute;
    top: 50%;
    text-align: center;
}

