---
---

@import "{{ site.theme }}";

.page-header {
    background-color: #5b2299;
    background-image: url("../../milky-way-984050_1920.jpg");
    background-size: cover;
    height: 300px;

    padding: 0 0;
}

.project-tagline {
    opacity: 0.95;
}

.btn{
   background-color: rgba(91, 34, 153,0.38);
   color: rgba(255,255,255,0.9);
   border-color: rgba(255,255,255,0.3);
   border-width: 2px;
}




.main-content h1,
.main-content h2,
.main-content h3,
.main-content h4,
.main-content h5,
.main-content h6 {
  color: #5b2299;
}

.header-overlay {
    background-color: rgba(91, 34, 153, 0.4);
    height: 300px;
}

.header-text {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

